*{
    padding: 0;
    margin: 0;
}
p{
font-family:"outfit";
}
#navbar{
    display:flex;
    justify-content:space-between;
    margin-top: 20px;
}

#top-left{
    display: flex;
    width: 500px;
    justify-content: space-evenly;
}
#top-left p{
    font-size: 15px;
    letter-spacing: 2px;
    font-weight: 300;
    cursor: pointer;
    transition: all 0.3s;
}
#top-left p:hover{
    text-decoration: underline;
}
#top-right p{
    margin-left: 30px;
    font-size: 18px;
    letter-spacing: 2px;
    font-weight: normal;
}
#hero{
    display: flex;
    margin-top:94px;
}
#hero-left{
    width: 50vw;
    height:80vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#hero-right{
    width: 50vw;

    display: flex;
    justify-content: center;
    align-items: center;
}
#hero-left p{
   font-size: 48px;
   letter-spacing: -3px;
    width: 476px;
    height: 205px;
    margin-bottom: 40px;
    font-weight: 600;
    text-align: right;
}
#hero-right video{
    width:800px;
    user-select: none; 
    -webkit-user-select: none;
padding-bottom: 50px;

}